<div class="widget latest-posts">
    <header>
        <h3 class="h6">Latest Posts</h3>
    </header>
    <div class="blog-posts" *ngFor="let pos of posts">
        
        <a  [routerLink]="['/post', pos._id]" >
            <div class="item d-flex align-items-center" >
                <div class="image"><img [src]="pos.featuredImage" alt="..." class="img-fluid">
                </div>
                <div class="title"><strong>{{ pos.title }}</strong>
                    <div class="d-flex align-items-center">
                        <div class="views"><i class="icon-eye"></i>{{ pos.views }}</div>
                        <div class="comments"><i class="icon-comment"></i>{{ pos.comments.length }}</div>
                    </div>
                </div>
            </div>
        </a>
    </div>
</div>